<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Article_log</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

    <style>

        div.jumbotron {
            width: 70%;
            height:250px;
            margin: auto;
        }

        div.card-post{
            width: 70%;
            margin: 10px auto 0 auto;
        }
        div.card{
          margin: 10px 10px 10px 10px;
        }
        div.form-post {
            max-width: 500px;
            padding: 2rem;
            margin: 2rem auto;
            border-color: #e9ecef;
            border-radius: 0.3rem;
            border: solid;
        }

        .feed-frame {
            margin: 1rem auto;
            padding-top: 2rem !important;
            padding-bottom: 2rem !important;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

    </style>
    <script>
    $( function() {
        jQuery.jQueryAlert = function (msg) {
           var $messageBox = $.parseHTML('<div id="alertBox"></div>');
           $("body").append($messageBox);

           $($messageBox).dialog({
               open: $($messageBox).append(msg),
               title: "결과",
               autoOpen: true,
               modal: true,
               buttons: {
                   OK: function () {
                       $(this).dialog("close");
                       location.reload();
                   }
               }
           });
       };
       });
      function open_post_box(){
        if($('#post-box').css('display') == 'block'){
          $('#post-box').hide();
          $('#btn-post-box').text('포스팅 박스 열기');
        }
        else{
          $('#post-box').show();
          $('#btn-post-box').text('포스팅 박스 닫기');
        }
      }
      function posting(){
        var url = $('#posting-url').val();
        var comment = $('#posting-comment').val();

        $.ajax({
          type: 'POST',
          url: '/article-view',
          data: {'url':url,'comment':comment},
          success: function(response) {
            if(response['result'] == 'success'){
              $.jQueryAlert('포스팅 성공');
            }
            else{
              $.jQueryAlert('서버 오류');
            }
          }
        })
      }
      function get_posting() {
        $('#cards-box').empty('');
        $.ajax({
          type: "GET",
          url: "/article-post",
          data: {},
          success: function(response){
            if(response['result'] == 'success'){
              var cards = response['articles'];
              console.log(cards);
              for (let i = 0 ; i < cards.length; i++) {
                var url = cards[i]['url'];
                var comment = cards[i]['comment'];
                var title = cards[i]['title'];
                var image = cards[i]['image'];
                var desc = cards[i]['desc'];

                $('#post-cards').append(make_card(url,comment,title,image,desc));
              }
            }
            else{
                $('#post-cards').append(make_card('','','','',''))
            }
          }
        })
      }

      function make_card(url,comment,title,image,description) {
        var html_temp = '<div class="card">\
        <div class="container">\
          <div class="row">\
            <div class="col">\
              <img class="card-img-top" src="'+image+'" alt="Card image cap">\
            </div>\
            <div class="col">\
              <div class="card-body">\
                <h5 class="card-title" href='+url+' target="_blank">'+title+'</h5>\
                <p class="card-text">'+description+'</p>\
                <p class="card-text comment">'+comment+'</p>\
              </div>\
            </div>\
          </div>\
        </div>\
      </div>';
      return html_temp;
      }

      $( document ).ready(function() {
          $('#post-cards').html('');
          get_posting();
      });
    </script>
  </head>
  <body>
    <div class="jumbotron">
      <h2>나홀로 링크 메모장</h2>
      <p class="lead">글을 읽고 난 뒤 들었던 내 생각들. 단상. 나는 무엇을 읽고, 무엇을 생각했는가?</p>
      <hr class="my-4">
      <p class="lead">
        <button type="button" class="btn btn-primary" onclick="open_post_box()" id="btn-post-box">포스팅 박스 닫기</button>
      </p>
    </div>
    <div class="form-post" id="post-box">
      <form>
        <div class="form-group">
          <label for="posting-url">아티클 URL</label>
          <input class="form-control" id="posting-url" placeholder="">
        </div>
        <div class="form-group">
          <label for="posting-comment">간단 코멘트</label>
          <textarea class="form-control" id="posting-comment" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-primary" onclick="posting()">기사저장</button>
      </form>
    </div>
    <div class="card-post" id="post-cards">
      <div class="card">
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://www.fodors.com/wp-content/uploads/2018/10/4_UltimateRome_PiazzaNavona-975x650.jpg" alt="Card image cap">
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">예를 들면 이렇게 카드가 나옵니다!!</h5>
                <p class="card-text">여기에 기사 내용이 들어가겠죠</p>
                <p class="card-text comment">여기엔 코멘트가 들어갑니다</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="card-img-top" src="https://www.fodors.com/wp-content/uploads/2018/10/4_UltimateRome_PiazzaNavona-975x650.jpg" alt="Card image cap">
            </div>
            <div class="col">
              <div class="card-body">
                <h5 class="card-title">예를 들면 이렇게 카드가 나옵니다!!</h5>
                <p class="card-text">여기에 기사 내용이 들어가겠죠</p>
                <p class="card-text comment">여기엔 코멘트가 들어갑니다</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>
</html>